<h1>Sandwiches!</h1>

<h2>Sandwiches that are not eaten!</h2>

<ul>
  {{#each sandwiches}}
    {{#unless eaten}}
      {{> sandwiches/sandwich-block eaten=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Sandwiches that are eaten!</h2>

<ul>
  {{#each sandwiches}}
    {{#if eaten}}
      {{> sandwiches/sandwich-block eaten=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Sandwich</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Sandwich Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="eaten">Eaten?</label><br>
    <input type="radio" name="eaten" value="1" checked>Eaten<br>
    <input type="radio" name="eaten" value="0">Ready!
  </div>

  <button type="submit">Add Sandwich</button>
</form>