{{!-- <div class="container"> --}}
  <div class="row justify-content-center mt-4">
    <!-- <h2 class="text-center">Sandwiches to Eat</h2><br> -->
    <div class="col-md-5 p-3 m-2 rounded-left bg-light text-dark">
      <ul>
        {{#each sandwiches}}
         {{#unless eaten}}
          {{> sandwiches/sandwich-block eaten=true}}
         {{/unless}}
       {{/each}}
      </ul>
    </div>
    {{!-- <div class="col-md-2 p-4 text-center">
       <button type="button" class="btn btn-secondary">Sink the Sub!</button>
    </div> --}}
    <div class="col-md-5 p-3 m-2 rounded-right bg-light text-dark">
      <ul>
        {{#each sandwiches}}
         {{#if eaten}}
          {{> sandwiches/sandwich-block eaten=false}}
         {{/if}}
       {{/each}}
      </ul>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
    </div>
    <form class="col-5 p-3 text-center rounded create-form">
      <div class="form-group mb-3">
          <h2>Send me a New Sammy!</h2>
        <textarea class="form-control" id="ca" rows="1" name="name" type="text"></textarea>
      </div>
      <div class="form-group">
        <input type="radio" name="eaten" value="0" checked> Ready! | 
        <input type="radio" name="eaten" value="1"> Eaten
      </div>
      <input class="btn btn-danger my-3" type="submit" value="SANDWICH">
      <br> Enter a sandwich you want, then click the Sandwich button.

    </form>
    <div class="col">
    </div>
  </div>
{{!-- </div> --}}