body {
  /* background-color: #783011; */
  background: linear-gradient(to right, rgb(237, 130, 0), rgb(40, 16, 0), rgb(26, 0, 0), rgb(237, 130, 0));
  background-size: cover;
  /* color: rgb(255, 246, 165); */
}
li {
  padding: 5px;
  margin: 5px;
  background: hsl(34, 58%, 69%);
}

.label {
  font-weight: bold;
}

.create-form {
  padding: 5px;
  margin: 5px;
  background: rgb(249, 181, 80);
}

.form-group {
  margin-bottom: 5px;
}

ul {
  list-style: none;
  margin-left: 0; padding-left: 0;
  }
  
h1 {
  text-align: center;
    font-size: 4rem;
    font-family: 'Rammetto One', cursive;
    color: rgb(255, 246, 165);
}
#sambox {
  text-align: center;
}
h2 {
  font-size: 2rem;
  font-family: 'Rammetto One', cursive;
  color: rgb(162, 35, 35);
}